* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

html {
    font-family: "Merriweather", sans-serif;
}

body {
background: white;
min-height: 100vh;
}

header {
position: fixed;
top: 0;
right: 0;
display: flex;
justify-content: space-between;
width: 100%;
background: white;
box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
z-index: 1000;
}

.text-center {
text-align: center;
}

.btn {
    margin-top: 1rem;
    padding: 0.75rem 2.75rem;
    border-radius: 8px;
    letter-spacing: 0.5px;
}

.btn-primary {
    background: #003153;
    color: white;
    margin-bottom: 1.5rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn-primary:hover {
    background: white;
    color: #003153;
    border: 0.5px solid #003153;
}

.op {
	opacity: 0.85;
}

.bg-dark-blue {
    background:#003153;
}

.heading-medium {
    font-size: 1.5rem;
}

.logo {
height: 70px;
line-height: 70px;
color: #003153;
font-weight: bold;
font-size: 2em;
cursor: pointer;
padding-left: 30px;
}

#toggle {
position: absolute;
top: 0;
right: 0;
width: 70px;
height: 70px;
background: #003153;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
transition: .5s;
}

#toggle::before {
content: '';
position: absolute;
width: 28px;
height: 2px;
background: white;
transform: translateY(-5px);
transition: .2s;
}

#toggle::after {
content: '';
position: absolute;
width: 28px;
height: 2px;
background: white;
transform: translateY(5px);
transition: .2s;
}

#toggle.active::before {
transform: translateY(0px) rotate(45deg);
}

#toggle.active::after {
transform: translateY(0px) rotate(-45deg);
}

#toggle.active {
background: #f7226a;
}

#navbar {
position: relative;
height: 70px;
right: 70px;
background: white;
transition: .5s;
width: 0px;
overflow: hidden;
}

#navbar.active {
width: 477px;
}

#navbar ul {
position: relative;
display: flex;
flex-direction: row;
}

#navbar ul li {
list-style: none;
}

#navbar ul li a {
color: #003153;
height: 70px;
line-height: 70px;
display: inline-block;
font-size: 1.2em;
padding: 0 25px;
letter-spacing: 1px;  
}

#navbar ul li a:hover {
color: white;
background: #003153;
}  

/*@media (max-width: 720px)* bundan büyük iken 878'e kadar yukarıdakiler, 878-sonsuz arası normal ama 952'de logo padding ve font büyüt*/

@media (max-width: 880px) {

    #navbar {
        position: fixed;
        bottom: -100%;
        right: 0;
        width: 100%;
        transition: .5s;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #navbar.active {
        height: calc(100vh - 70px);
        bottom: 0;
        width: 100%;
    }

    #navbar ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

#home {
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home img {
    padding: 1.1rem;
    max-width: 100%;
    height: auto;
    border-radius: 100%;
    margin-top: calc(70px + 0.9rem);
}

#home .name h2 {
	font-size: 1.65rem;
	margin-bottom: 0.6rem;
}

#home .name h3 {
	font-size: 1rem;
	opacity: 0.8;
	margin-bottom: 0.9rem;
}


#home .name p {
	opacity: 0.6;
	font-style: italic;
	padding: 0.3rem;
}

#home .last {
	margin-bottom: 0.5rem;
}

#home .last1 {
	margin-bottom: 2rem;
}

#about img {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-top: 0.2rem;
    width: 100%;
}

#about .abname {
	color: white;
}

#about .abab {
    padding: 0.2rem;
    opacity: 0.9;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.35rem;
    font-style:oblique;
    line-height: 1.7;
}

#interests img {
	border: 0.2px solid;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	margin-left: 2rem;
}

#interests .ints {
	color: white;
}

#interests ul {
	margin-top: 1rem;
}

#interests p {
	opacity: 0.9;
	padding: 0.2rem;
    margin-bottom: 0.5rem;
    font-size: 1.35rem;
    font-style:oblique;
    line-height: 1.7;
}


.form-group {
    padding: 0.25rem 0;
}

.form-group label {
    display: block;
}

.form-control {
    width: 100%;
    padding: 0.4rem;
    font-size: 1rem;
    resize: none;
    border-radius: 5px;
}

#contact {
    color: white;
    padding: 1rem;
}

#contact .contact-form {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

#contact .contact-form ul {
    list-style-type: none;
    display: flex;
    margin-top: 0.8rem;
    align-self: center;
    margin-bottom: 1rem;
}

#contact .contact-form ul li a {
	color: white;
    padding: 1rem;
    font-size: 2.5rem;
    border-radius: 3px;
}


#contact .contact-form ul li a:hover{
    opacity: 0.8;
    transition: .5s;
}

.btns {
    margin-top: 1.25rem;
    padding: 0.8rem 3rem;
    border-radius: 8px;
    letter-spacing: 0.5px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.btn-submit {
    background: #336ea2;
    color: white;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.btn-submit:hover {
    background: white;
    color: #336ea2;
    border: 0.5px solid #336ea2;
    transition: .5s;
}
